@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 0px;
  font-size: 1.1rem;
  gap: 5px;
  border-radius: 10px;
  background-color: #f7fafc;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.pagination .page-link {
  padding: 8px 14px;
  border-radius: 5px;
}
.pagination .page-link:hover {
  background-color: #e2e8f0;
}
.pagination .active {
  background-color: #e2e8f0;
}
